.slider-container {
    width: 100%;
    flex: 1;
    height: 100vh;
    overflow-y: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
}

.slider-container::before {
    content: '';
    /* position: absolute; */
    float: left;
    width: 60px;
    height: 100%;
    shape-outside: circle(50% at 100% 50%);
}

.slide-box {
    display: flex;
    aspect-ratio: 3/4;
    width: 100%;
    flex-shrink: 0;
    height: 40vh;
    transform: translate(-50%, -50%);
    padding: 4px;
    background-color: orange;
}

.card_i {
    font-size: 80px;
}


.divider {
    width: 300px;
    height: 100%;
    flex-shrink: 0;
    min-height: 100vh;
}

.section__slider {
    display: flex;
    overflow: hidden;

}